body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    
    gap: 100px;
    align-items: center;
}

/* --- Nav --- */

.header-container {
    flex-direction: column;
    background: #1F2937;
    width: 100%
}

.header-banner {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

.header-banner ul {
    padding-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 20px;
}
    
a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}


/* --- Hero --- */

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    gap: 50px;
}

.hero-text #main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    color: white;
    background: gray;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 8px 36px;
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
}


/* --- Hero --- */


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

#info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px;
    border: 100px;
}

.img-ul li {
    text-align: center;
}

.img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-radius: 8px;
    border-color: #3882F6;
    
}

/* --- Quote --- */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100%;
    padding: 60px 100px;
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    margin: 5px;
    font-weight: 10
}

#quote-source {
    font-size: 25px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    font-weight: 600;
}

/* Quote Text: 36px, light italic, #1F2937 */

/* --- Bottom Sign Up --- */

.call-to-action {
    display: flex;
    background-color: #3882F6;
    width: 80%;
    border-radius: 8px;
    justify-content: space-between;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 80px;
    color: white;
}

#call {
    font-size: 20px;
    font-weight: 600;
}

#sign-up {
    border-color: white;
    border-style: solid;
    margin-right: 30px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

